cyan = #1d97c3

@import "fonts.styl"

body
	font-family Arial
	font-size 14px
	color #34495e

body,
figure
	margin 0
	padding 0

.wrapper
	width 100%

	footer
		background #2c3e50
		color #95a0aa
		text-align center
		padding 15px 0

	header,
	.main
		margin 0 auto
		max-width 1200px
		min-width 980px
		width 100%
		position relative

	header
		.banner
			img
				width 100%

		.logo
			top 0
			right 0
			position absolute

	.main
		aside
			background #eee
			left 0
			position absolute
			top 0
			width 235px
			height 100%

		section
			padding-left 235px
